<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Iteratively merge sort custom objects</title>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Test</th>
            <th># przebiegów</th>
            <th>Czas</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Posortowane dane</td>
            <td><?= $iterations ?></td>
            <td><?= $ordered ?></td>
        </tr>
        <tr>
            <td> Malejące dane</td>
            <td><?= $iterations ?></td>
            <td><?= $descending ?></td>
        </tr>
        <tr>
            <td>Losowe dane</td>
            <td><?= $iterations ?></td>
            <td><?= $random ?></td>
        </tr>
        <tr>
            <th colspan="3">Każda iteracja sortowała <?= $count ?> obiektów</th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
